[submodule "hlmod-hl"]
	path = hlmod-hl
	url = https://github.com/N3rdL0rd/hlmod-hl
[submodule "std_doc/haxe"]
	path = std_doc/haxe
	url = https://github.com/HaxeFoundation/haxe
[submodule "hlsteam"]
	path = hlsteam
	url = https://github.com/N3rdL0rd/hlsteam
[submodule "Steamworks-SDK"]
	path = Steamworks-SDK
	url = https://github.com/ExperimentFailed/Steamworks-SDK
[submodule "hlchroma"]
	path = hlchroma
	url = https://github.com/N3rdL0rd/hlchroma.git
[submodule "hldiscord"]
	path = hldiscord
	url = https://github.com/N3rdL0rd/hldiscord
